<p id="notice"><%= notice %></p>

<h1>Listing Timeslots</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td <% if timeslot.enough_teams? %> class="enough_teams" <% end %>><%= timeslot.time %></td>
        <td>
          <ul>
            <% timeslot.teams.each do |team| %>
              <li>
                <%= team.name %>
              </li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', timeslot %></td>
        <td><%= link_to 'Edit', edit_timeslot_path(timeslot) %></td>
        <td><%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="enough_teams">
  Timeslots in red have at least 4 available teams
</p>

<br>

<%= link_to 'New Timeslot', new_timeslot_path %>
