<!DOCTYPE html>
<html>
<head>
  <title>Ltab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <footer>
    <hr>
    <a href="<%= teams_path %>">Teams</a>
    <br>
    <a href="<%= coaches_path %>">Coaches</a>
    <br>
    <a href="<%= timeslots_path %>">Time Slots</a>
  </footer>
</body>
</html>
